.centrar__texto-imagen {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  border: none;
}

.directo {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-bottom: 20px;
  height: 100%;
  justify-content: flex-end;
  width: 100%;
  border: none;
  font-family: 'Roboto Condensed', sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flex-items {
  padding-left: 5px;
  justify-self: center;
  align-self: center;
  padding-right: 5px;
}

.imagen--Redonda {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.bk-center-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bk-color-carrusel {
  background-color: rgba(0, 0, 0, 0.3);
}

.bk-fondo-footer {
  background-color: #1C2331;
}

.bk-fondo-footer-claro {
  background-color: #2d384e;
}

.z-index-2000 {
  z-index: 2000;
}

.h-seccion {
  height: 131px;
}

.bk-transparente-claro {
  background-color: rgba(251, 251, 251, 0.15);
}

/*contacto*/
.mask-custom {
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3em;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.mask-contacto {
  background-image: url(../imagenes/Contact-Us-Header.jpg);
}

#intro-contacto {
  height: 50vh !important;
}

/*  Red Social*/
.social {
  padding: 15px;
  color: #777;
  text-align: center;
}

.social__icon a i.fa,
.social__icon a i.fas {
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  border: 1px solid #fff;
  transition: all 0.7s ease-in-out;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20%;
}

.social__icon a i.fa:hover,
.social__icon a i.fas:hover {
  border-radius: 50%;
}

.social__icon a i.fa.fa-facebook:hover {
  background-color: #3b5998;
  color: #fff;
}

.social__icon a i.fa.fa-twitter:hover {
  background-color: #1da1f2;
  color: #fff;
}

.social__icon a i.fa.fa-instagram:hover {
  background-color: #C13584;
  color: #fff;
}

.social__icon a i.fa.fa-linkedin:hover {
  background-color: #0077b5;
  color: #fff;
}

.social__icon a i.fa.fa-whatsapp:hover {
  background-color: #00bb2d;
  color: #fff;
}

.social__icon a i.fas.fa-map-marker-alt:hover {
  background-color: #ff8500;
  color: #fff;
}

.social__icon a i.fa.fa-envelope-o:hover {
  background-color: coral;
  color: #fff;
}

.social__icon a i.fa.fa-phone:hover {
  background-color: darkviolet;
  color: #fff;
}

/* Carousel */
#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
  height: 50vh;
}

.carousel-item:nth-child(1) {
  background-image: url("../imagenes/IoT_v8.jpg");
}

.carousel-item:nth-child(2) {
  background-image: url("../imagenes/Industria4.0.jpg");
}

.carousel-item:nth-child(3) {
  background-image: url("../imagenes/massey-furgeson-fuse.jpg");
}

.carousel-item:nth-child(4) {
  background-image: url("../imagenes/microsoftteams-image-2.png");
}

/* NavBar */
.navbar-brand-desktop img {
  /* padding-top: 5px; */
  padding-right: 20px;
  height: 50px !important;
}

.navbar-brand-movil img {
  height: 35px !important;
}

.navbar-nav li:nth-child(1):hover {
  background-color: #00bfc8;
}

.navbar-nav li:nth-child(2):hover {
  background-color: #ff9af1;
}

.navbar-nav li:nth-child(3):hover {
  background-color: #adc900;
}

.navbar-nav li:nth-child(4):hover {
  background-color: #ff8500;
}

.navbar-nav li:nth-child(5):hover {
  background-color: #b82c8d;
}

.navbar-nav a:hover {
  background-size: 100% 2px;
}

.navbar-nav a:focus {
  background-size: 100% 2px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.6);
  height: 60px !important;
  font-size: 20px;
}

.navbar-nav li a {
  text-decoration: none;
  /* color: yellow; */
  padding-bottom: 10px;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

.btn-info {
  background-color: #00bfc8;
  height: 70%;
}

.btn-danger {
  background-color: #ff9af1;
}

.btn-success {
  background-color: #adc900;
}

.btn-warning {
  background-color: #ff8500;
}

.btn-secondary {
  background-color: #b82c8d;
}

.navbar .nav-link {
  color: #fff !important;
}

/*Nosotros*/
.mask-nosotros {
  background-image: url(../imagenes/muppets1.png);
}

#intro-nosotros {
  height: 60vh !important;
}

/*Nosotros*/
/*Servicios*/
.vertical-align {
  display: flex;
  flex-direction: column;
  align-self: center;
}

#intro-servicios {
  height: 50vh;
}

.mask-servicios {
  background-image: url(../imagenes/iot-sector-industrial.jpg);
}

/*timeline*/
.timeline {
  list-style: none;
  padding: 20px;
  position: relative;
}

.timeline:before {
  top: 40px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline .timeline-item {
  margin-bottom: 20px;
  position: relative;
}

.timeline .timeline-item:before,
.timeline .timeline-item:after {
  content: "";
  display: table;
}

.timeline .timeline-item:after {
  clear: both;
}

.timeline .timeline-item .timeline-badge {
  color: #fff;
  width: 54px;
  height: 54px;
  line-height: 52px;
  font-size: 22px;
  text-align: center;
  position: absolute;
  top: 18px;
  left: 50%;
  margin-left: -25px;
  background-color: #333;
  border: 3px solid #fff;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline .timeline-item .timeline-badge i,
.timeline .timeline-item .timeline-badge .fa,
.timeline .timeline-item .timeline-badge .glyphicon {
  top: 2px;
  left: 0px;
}

.timeline .timeline-item .timeline-badge.primary {
  background-color: #00bfc8;
}

.timeline .timeline-item .timeline-badge.info {
  background-color: #ff9af1;
}

.timeline .timeline-item .timeline-badge.success {
  background-color: #adc900;
}

.timeline .timeline-item .timeline-badge.warning {
  background-color: #ff8500;
}

.timeline .timeline-item .timeline-badge.danger {
  background-color: #b82c8d;
}

.timeline .timeline-item .timeline-panel {
  position: relative;
  width: 46%;
  float: left;
  right: 16px;
  border: 1px solid #777;
  background: #fff;
  border-radius: 2px;
  padding: 20px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.timeline .timeline-item .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -16px;
  display: inline-block;
  border-top: 16px solid transparent;
  border-left: 16px solid #777;
  border-right: 0 solid #777;
  border-bottom: 16px solid transparent;
  content: " ";
}

.timeline .timeline-item .timeline-panel .timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-item .timeline-panel .timeline-body > p,
.timeline .timeline-item .timeline-panel .timeline-body > ul {
  margin-bottom: 0;
}

.timeline .timeline-item .timeline-panel .timeline-body > p + p {
  margin-top: 5px;
}

.timeline .timeline-item:last-child:nth-child(even) {
  float: right;
}

.timeline .timeline-item:nth-child(even) .timeline-panel {
  float: right;
  left: 16px;
}

.timeline .timeline-item:nth-child(even) .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-inline-block {
  display: inline-block;
  width: 100%;
  overflow-y: auto;
}

.mask-iot {
  background-image: url(../imagenes/iot.jpg);
}

#intro-iot {
  height: 60vh !important;
}

.body404 {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);
}

.error-template {
  padding: 40px 15px;
  text-align: center;
}

.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}

.error-actions .btn {
  margin-right: 10px;
}

@media (min-width: 992px) {
  #introCarousel {
    margin-top: -58.59px;
  }
  #introCarousel,
  .carousel-inner,
  .carousel-item,
  .carousel-item.active {
    height: 100vh;
  }
  #intro {
    height: 100vh;
  }
  #intro-iot {
    height: 50vh;
  }
  #intro-servicios {
    height: 50vh;
  }
  #intro-nosotros {
    height: 85vh !important;
  }
  #intro-contacto {
    height: 50vh !important;
  }
}
