

/*contacto*/



.mask-custom {
    backdrop-filter: blur(15px);
    background-color: rgba(255,255,255,.2);
    border-radius: 3em;
    border: 2px solid rgba(255,255,255,.1);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  }
  
  .mask-contacto{
    background-image: url(../imagenes/Contact-Us-Header.jpg);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  }

  #intro-contacto{
    height: 50vh !important;
  }