/*  Red Social*/

.social {
    padding: 15px;
    color: grey;
    text-align: center;
  }
  
  
  
  .social__icon a i.fa,
  .social__icon a i.fas {
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.7s ease-in-out;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20%;
  }
  
  .social__icon a i.fa:hover,
  .social__icon a i.fas:hover {
    border-radius: 50%;
  }
  
  .social__icon a i.fa.fa-facebook:hover {
    background-color: #3b5998;
    color: #fff;
  }
  
  .social__icon a i.fa.fa-twitter:hover {
    background-color: #1da1f2;
    color: #fff;
  }
  
  .social__icon a i.fa.fa-instagram:hover {
    background-color: #C13584;
    color: #fff;
  }
  
  .social__icon a i.fa.fa-linkedin:hover {
    background-color: #0077b5;
    color: #fff;
  }
  
  .social__icon a i.fa.fa-whatsapp:hover {
    background-color: #00bb2d;
    color: #fff;
  }
  
  .social__icon a i.fas.fa-map-marker-alt:hover {
    background-color: #ff8500;
    color: #fff;
  }
  
  .social__icon a i.fa.fa-envelope-o:hover {
    background-color: coral;
    color: #fff;
  }
  
  .social__icon a i.fa.fa-phone:hover {
    background-color: darkviolet;
    color: #fff;
  }