/*  Red Social*/

.social {
    padding: 15px;
    color: $borde-gris;
    text-align: center;
  }
  
  
  
  .social__icon a i.fa,
  .social__icon a i.fas {
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    color: $color-texto-blanca;
    border: 1px solid $color-texto-blanca;
    transition: all 0.7s ease-in-out;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20%;
  }
  
  .social__icon a i.fa:hover,
  .social__icon a i.fas:hover {
    border-radius: 50%;
  }

  .social__icon a i.fa.fa-facebook:hover {
    background-color: $back-facebook;
    color: $color-texto-blanca;
  }
  
  .social__icon a i.fa.fa-twitter:hover {
    background-color: $back-twitter;
    color: $color-texto-blanca;
  }
  
  .social__icon a i.fa.fa-instagram:hover {
    background-color: $back-instagram;
    color: $color-texto-blanca;
  }
  
  .social__icon a i.fa.fa-linkedin:hover {
    background-color: $back-linkedin;
    color: $color-texto-blanca;
  }
  
  .social__icon a i.fa.fa-whatsapp:hover {
    background-color: $back-whatsapp;
    color: $color-texto-blanca;
  }
  
  .social__icon a i.fas.fa-map-marker-alt:hover {
    background-color: $back-marker;
    color: $color-texto-blanca;
  }
  
  .social__icon a i.fa.fa-envelope-o:hover {
    background-color: $back-envelope;
    color: $color-texto-blanca;
  }
  
  .social__icon a i.fa.fa-phone:hover {
    background-color: $back-phone;
    color: $color-texto-blanca;
  }