.centrar__texto-imagen {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
    border: none;
  }

  .directo {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 20px;
    height: 100%;
    justify-content: flex-end;
    width: 100%;
    border: none;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
  .flex-items {
    padding-left: 5px;
    justify-self: center;
    align-self: center;
    padding-right: 5px;
  }
  

  .imagen--Redonda {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
