
/* Carousel */
#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
  height: 50vh;
}

.carousel-item:nth-child(1) {
  background-image: url('../imagenes/IoT_v8.jpg');

}

.carousel-item:nth-child(2) {
  background-image: url('../imagenes/Industria4.0.jpg');

}

.carousel-item:nth-child(3) {
  background-image: url('../imagenes/massey-furgeson-fuse.jpg');

}

.carousel-item:nth-child(4) {
  background-image: url('../imagenes/microsoftteams-image-2.png');

}
