

.carousel-caption {
	background-color: rgba(0, 0, 0, 0.486);
	height: 220px;
	left: 10%;
	top: 100px;
	padding: 20px;
	text-align: center;
	width: 400px;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: "IoT Industria""Agro Logistica";
	margin: 0;
	visibility: hidden;
	&__item {
		position: relative;
		display: inline-block;
		text-align: center;
		background-repeat: no-repeat;
		background-size: cover;
		&--iot {
			grid-area: IoT;
			background-image: url(../imagenes/IoT_v8.jpg);
		}
		&--industria {
			grid-area: Industria;
			background-image: url(../imagenes/Industria4.0.jpg);
		}
		&--agro {
			grid-area: Agro;
			background-image: url(../imagenes/massey-furgeson-fuse.jpg);
		}
		&--logistica {
			grid-area: Logistica;
			background-image: url(../imagenes/microsoftteams-image-2.png);
		}
	}
}



.carousel-caption-movil {
	position: absolute;
	color: white;
	background-color: rgba(0, 0, 0, 0.486);
	height: 150px;
	left: 50px;
	top: 60px;
	padding: 10px;
	text-align: left;
	width: 300px;
}
