.mask-iot{
    background-image: url(../imagenes/iot.jpg);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  }
  
  #intro-iot{
    height: 60vh !important;
    
  }