
@media (min-width: 992px) {
    #introCarousel {
      margin-top: -58.59px;
    }
    #introCarousel,
    .carousel-inner,
    .carousel-item,
    .carousel-item.active {
      height: 100vh;
    }
    #intro{
      height: 100vh ;
    }
    #intro-iot{
      height: 50vh ;
    }
    #intro-servicios{
      height: 50vh ;
    }
    #intro-nosotros{
      height: 85vh !important;
    }
    #intro-contacto{
      height: 50vh !important;
    }

  }