


@media screen  and (max-width: 768px) {
	.navbar {
		background-color: $color-fondo;
	}

	.navbar-brand {
		img {
			height: 40px !important;
		}
	}

	.grid {
		grid-template-columns: 1fr !important;
		grid-template-rows: 1fr 1fr 1fr 1fr !important;
		grid-template-areas: "IoT""Industria""Agro""Logistica" !important;
		height: 1200px !important;
		margin: 0 !important;
		visibility: visible !important;
		object-fit: cover !important;
	}

	.container {
		max-width: 100%;
	}

	.container-lg {
		max-width: 100%;
	}

	.container-md {
		max-width: 100%;
	}

	.container-sm {
		max-width: 100%;
	}
	.container-sx {
		max-width: 100%;
	}
}






@media screen and (min-width: 769px) and (max-width: 991px) {
	.navbar {
		&:not(.top-nav-collapse) {
			background-color: $color-fondo;
		}
	}

	.navbar-brand {
		img {
			height: 40px !important;
		}
	}

	.grid {
		visibility: visible;
		height: 500px;
	}

	.container {
		max-width: 100%;
	}

	.container-lg {
		max-width: 100%;
	}

	.container-md {
		max-width: 100%;
	}

	.container-sm {
		max-width: 100%;
	}
	.container-sx {
		max-width: 100%;
	}
}
