/* NavBar */

.navbar-brand-desktop img {
    /* padding-top: 5px; */
    padding-right: 20px;
    height: 50px !important;
  }
  
  .navbar-brand-movil img {
  
    height: 35px !important;
  }
  
  .navbar-nav li:nth-child(1):hover {
    background-color:  $color-logo-letra-c;
  }
  
  .navbar-nav li:nth-child(2):hover {
    background-color:  $color-logo-letra-a;
  }
  
  .navbar-nav li:nth-child(3):hover {
    background-color:  $color-logo-letra-r;
  }
  
  .navbar-nav li:nth-child(4):hover {
    background-color:  $color-logo-letra-b;
  }
  
  .navbar-nav li:nth-child(5):hover {
    background-color: $color-logo-letra-o;
  }
  
  .navbar-nav a:hover {
    background-size: 100% 2px;
  }
  
  .navbar-nav a:focus {
    background-size: 100% 2px;
  }
  
  .navbar {
    background-color: $color-transparente-6;
    height: 60px !important;
    font-size: 20px;
  
  }
  
  .navbar-nav li a {
    text-decoration: none;
    /* color: yellow; */
  
    padding-bottom: 10px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
  }
  
  
  
  .btn-info {
    background-color: $color-logo-letra-c;
    height: 70%;
  }
  
  .btn-danger {
    background-color: $color-logo-letra-a;
  }
  
  .btn-success {
    background-color: $color-logo-letra-r;
  }
  
  .btn-warning {
    background-color: $color-logo-letra-b;
  }
  
  .btn-secondary {
    background-color: $color-logo-letra-o;
  }
  .navbar .nav-link {
    color: $color-texto-blanca !important;
  }