
 /*Nosotros*/
.mask-nosotros{
    background-image: url(../imagenes/muppets1.png);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  }
  
  #intro-nosotros{
    height: 60vh !important;
    
  }

  /*Nosotros*/

  