/*Servicios*/
.vertical-align{
    display: flex;
    flex-direction:column ;
    align-self: center;
  }
  #intro-servicios{
    height: 50vh;
  }
  
  .mask-servicios{
    background-image: url(../imagenes/contacto.jpg);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  }