/*Servicios*/
.vertical-align{
    display: flex;
    flex-direction:column ;
    align-self: center;
  }
  #intro-servicios{
    height: 50vh;
  }
  
  .mask-servicios{
    background-image: url(../imagenes/iot-sector-industrial.jpg);
  }