/*timeline*/

.timeline {
  list-style: none;
  padding: 20px;
  position: relative;
}

.timeline:before {
  top: 40px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: $back-claro;
  left: 50%;
  margin-left: -1.5px;
}

.timeline .timeline-item {
  margin-bottom: 20px;
  position: relative;
}

.timeline .timeline-item:before,
.timeline .timeline-item:after {
  content: "";
  display: table;
}

.timeline .timeline-item:after {
  clear: both;
}

.timeline .timeline-item .timeline-badge {
  color: $color-texto-blanca;
  width: 54px;
  height: 54px;
  line-height: 52px;
  font-size: 22px;
  text-align: center;
  position: absolute;
  top: 18px;
  left: 50%;
  margin-left: -25px;
  background-color: $back-oscuro;
  border: 3px solid $color-texto-blanca;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline .timeline-item .timeline-badge i,
.timeline .timeline-item .timeline-badge .fa,
.timeline .timeline-item .timeline-badge .glyphicon {
  top: 2px;
  left: 0px;
}

.timeline .timeline-item .timeline-badge.primary {
  background-color: $color-logo-letra-c;
}

.timeline .timeline-item .timeline-badge.info {
  background-color: $color-logo-letra-a;
}

.timeline .timeline-item .timeline-badge.success {
  background-color: $color-logo-letra-r;
}

.timeline .timeline-item .timeline-badge.warning {
  background-color: $color-logo-letra-b;
}

.timeline .timeline-item .timeline-badge.danger {
  background-color: $color-logo-letra-o;
}

.timeline .timeline-item .timeline-panel {
  position: relative;
  width: 46%;
  float: left;
  right: 16px;
  border: 1px solid $borde-gris;
  background: $color-texto-blanca;
  border-radius: 2px;
  padding: 20px;
  -webkit-box-shadow: 0 1px 6px $color-transparente-2;
  box-shadow: 0 1px 6px $color-transparente-2;
}

.timeline .timeline-item .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -16px;
  display: inline-block;
  border-top: 16px solid transparent;
  border-left: 16px solid $borde-gris;
  border-right: 0 solid $borde-gris;
  border-bottom: 16px solid transparent;
  content: " ";
}

.timeline .timeline-item .timeline-panel .timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-item .timeline-panel .timeline-body>p,
.timeline .timeline-item .timeline-panel .timeline-body>ul {
  margin-bottom: 0;
}

.timeline .timeline-item .timeline-panel .timeline-body>p+p {
  margin-top: 5px;
}

.timeline .timeline-item:last-child:nth-child(even) {
  float: right;
}

.timeline .timeline-item:nth-child(even) .timeline-panel {
  float: right;
  left: 16px;
}

.timeline .timeline-item:nth-child(even) .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-inline-block {
  display: inline-block;
  width: 100%;
  overflow-y: auto;
}