$color-fondo:#1C2331;
$color-texto-claro:#f5f5f5;
$color-fondo-transparente:rgba(0, 0, 0, 0.5);
$color-fondo-transparente-menu:rgba(0, 0, 0, 0.2);
$color-ok:#2ecc71;
$color-no-ok:#e74c3c;
$color-borde-gris:#e5e5e5;
$colorlogo: (
    logo-c:#00bfc8,
    logo-a:#ff9af1,
    logo-r:#adc900,
    logo-b:#ff8500,
    logo-o:#b82c8d
);